@import model.User
@import model.ProjectFormData
@import b4.vertical.fieldConstructor
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import model.Project
@import model.TaskFormData

@import model.ReassignTaskFormData
@import model.FlowStep
@import model.ChangeStateTaskFormData
@(form: Form[ChangeStateTaskFormData], steps: Seq[FlowStep], taskId: Long)(implicit authRequest: AuthenticatedRequest[Any], messages: Messages)
@modal("Zmiana statusu") {
    @b4.form(routes.TaskController.submitChangeState(taskId)) {
        <div class="modal-body">
            <br>
            @b4.select(form("step_id"), steps.map(step => (step.id.toString, step.name)), '_label -> "Nowy status")
        </div>
        <div class="modal-footer">
        @b4.submit('class -> "btn btn-success") {
            <i class="fa fa-ok"></i>
            Zapisz
        }
        </div>
    }
}