@import model.User
@import model.ProjectFormData
@import b4.vertical.fieldConstructor
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import model.Project
@import model.TaskFormData

@(form: Form[TaskFormData], users: Seq[User], projects: Seq[Project])(implicit authRequest: AuthenticatedRequest[Any], messages: Messages)


@application("Dodawanie zadania") {

    @if(form.hasGlobalErrors) {
        <ul>
        @for(error <- form.globalErrors) {
            <li>@Messages(error.messages, error.args)</li>
        }
        </ul>
    }

    <div class="x_panel">
        <div class="x_title">
            <h2>Nowe zadania</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            @b4.form(routes.TaskController.submitAddForm()) {
                @b4.select(form("project_id"), projects.map(project => (project.id.toString, project.name)), '_label -> "Projekt")
                @b4.text(form("summary"), '_label -> "Skrócony opis")
                @b4.textarea(form("description"), '_label -> "Dokładny opis")
                @b4.select(form("assignee_id"), users.map(user => (user.id.toString, user.username)), '_label -> "Wykonawca")
                @b4.datetime(form("due_date"), '_label -> "Termin realizacji", 'class -> "datepicker")
                <div class="ln_solid"></div>
                @b4.submit('class -> "btn btn-success") {
                    <i class="fa fa-ok"></i>
                    Zapisz
                }
            }
        </div>
    </div>
}