@import scala.concurrent.Future
@import model._
@import scala.concurrent.ExecutionContext.Implicits.global
@import be.objectify.deadbolt.scala.views.html.restrict
@import be.objectify.deadbolt.scala.AuthenticatedRequest

@import slick.lifted.Query
@import slick.lifted.Rep
@(title: String, tasks: Seq[((((Task, User), User), Project), FlowStep)])(implicit request: AuthenticatedRequest[Any])

    @header(header: String) = {
        <th class="header">
            <a>@header</a>
        </th>
    }
    @application("Lista twoich zadań") {
        <div class="x_panel">
            <div class="x_title">
                <h2>@title</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            @header("Klucz")
                            @header("Streszczene")
                            @header("Termin")
                            @header("Twórca")
                            @header("Wykonawca")
                            @header("Status")
                            @header("Operacje")
                        </tr>
                    </thead>
                    <tbody>
                    @tasks.map { t =>
                        <tr>
                            <td>@t._1._1._1._1.key</td>
                            <td>@t._1._1._1._1.summary</td>
                            <td>@t._1._1._1._1.due_date</td>
                            <td>@t._1._1._2.username</td>
                            <td>@t._1._1._1._2.username</td>
                            <td>@t._2.name</td>
                            <td>
                                <a href="@routes.TaskController.showTask(t._1._1._1._1.key)" role="button"
                                class="btn btn-default">
                                    <i class="fa fa-eye"></i>
                                    Podgląd
                                </a>
                                <button class="btn btn-default" data-toggle="modal" href="@routes.TaskController.changeState(t._1._1._1._1.key)" data-target="#taskModal">
                                    Zmień status
                                </button>
                                <button class="btn btn-default" data-toggle="modal" href="@routes.TaskController.reassign(t._1._1._1._1.key)" data-target="#taskModal">
                                    Zmień przypisanie
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                @restrict(roles = List(Array("admin"))) {
                    <div class="ln_solid"></div>
                    <a href="@routes.TaskController.addTaskForm" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                        Dodaj Zadanie
                    </a>
                }
            </div>
        </div>
        <div class="modal fade" id="taskModal"></div>
    }
