@import model.User
@import model.ProjectFormData
@import b4.vertical.fieldConstructor
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import model.Project
@import model.TaskFormData

@import model.ReassignTaskFormData
@(form: Form[ReassignTaskFormData], users: Seq[User], taskId: Long)(implicit authRequest: AuthenticatedRequest[Any], messages: Messages)
@modal("Przepisanie zadania") {
    @b4.form(routes.TaskController.reassignSubmit(taskId)) {
        <div class="modal-body">
            <br>
            @b4.select(form("assignee_id"), users.map(user => (user.id.toString, user.username)), '_label -> "Wykonawca")
        </div>
        <div class="modal-footer">
        @b4.submit('class -> "btn btn-success") {
            <i class="fa fa-ok"></i>
            Zapisz
        }
        </div>
    }
}