@import model.User
@import model.ProjectFormData
@import b4.vertical.fieldConstructor
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import model.Project
@import model.TaskFormData

@import model.Task
@import model.FlowStep
@(task: Option[((((Task, User), User), Project), FlowStep)])(implicit authRequest: AuthenticatedRequest[Any], messages: Messages)


@application(task.get._1._1._1._1.key) {

    <div class="x_panel">
        <div class="x_title">
            <h2>@task.get._1._1._1._1.summary</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Opis:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>@task.get._1._1._1._1.description</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Termin wykonania:</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>@task.get._1._1._1._1.due_date</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Aktualny status:</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>@task.get._2.name</p>
                            <button class="btn btn-default btn-xs" data-toggle="modal" href="@routes.TaskController.changeState(task.get._1._1._1._1.key)" data-target="#taskModal">Zmień status</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Wykonawca:</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>@task.get._1._1._1._2.username</p>
                            <button class="btn btn-default btn-xs" data-toggle="modal" href="@routes.TaskController.reassign(task.get._1._1._1._1.key)" data-target="#taskModal">Zmień przypisanie</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Zgłaszający:</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>@task.get._1._1._2.username</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="taskModal"></div>
    </div>
}