@import model.User
@import b4.vertical.fieldConstructor
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import model.FlowStepFormData
@import model.FlowStep
@(form: Form[FlowStepFormData])(implicit authRequest: AuthenticatedRequest[Any], messages: Messages)
@if(form.hasGlobalErrors) {
    <ul>
    @for(error <- form.globalErrors) {
        <li>@Messages(error.messages, error.args)</li>
    }
    </ul>
}
@application("Dodawanie kroku") {
    <div class="x_panel">
        <div class="x_title">
            <h2>Krok</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            @b4.form(routes.FlowController.addFlowStepSubmit()) {
                @b4.text(form("name"), '_label -> "Nazwa kroku")
                <div class="ln_solid"></div>
                @b4.submit('class -> "btn btn-success") {
                    <i class="fa fa-check"></i>
                    Zapisz
                }
            }
        </div>
    </div>
}
