@import scala.concurrent.Future
@import model.Project
@import model.User
@import scala.concurrent.ExecutionContext.Implicits.global
@import be.objectify.deadbolt.scala.views.html.restrict
@import be.objectify.deadbolt.scala.AuthenticatedRequest

@import model.FlowStep
@(flows: Seq[FlowStep])(implicit request: AuthenticatedRequest[Any])

@header(header: String) = {
    <th class="header">
        <a>@header</a>
    </th>
}

@application("Lista kroków") {
    <div class="x_panel">
        <div class="x_title">
            <h2>Kroki<small>Jest @flows.size zdefiniowanych kroków</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        @header("Nazwa")
                        @header("Opcje")
                    </tr>
                </thead>
                <tbody>
                @flows.map { t =>
                    <tr>

                        <td>@t.name</td>
                        <td>
                            <a href="@routes.FlowController.editFlowStepForm(t.id)" class="btn btn-default">
                                <i class="fa fa-pencil"></i>
                                Edytuj
                            </a>
                            <a href="@routes.FlowController.outGoingFlowsForm(t.id)" class="btn btn-default">
                                <i class="fa fa-exchange"></i>
                                Edytuj przejścia
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @restrict(roles = List(Array("admin"))) {
                <div class="ln_solid"></div>
                <a href="@routes.FlowController.flowStepFrom" class="btn btn-success">
                    <i class="fa fa-plus"></i>
                    Dodaj Krok
                </a>
            }
        </div>
    </div>
}
