@import model.User
@import b4.vertical.fieldConstructor
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import model.FlowStepFormData
@import model.FlowStep
@import model.OutgoingFlowFormData
@(form: Form[OutgoingFlowFormData], flows: Seq[FlowStep], flow: FlowStep)(implicit authRequest: AuthenticatedRequest[Any], messages: Messages)
@if(form.hasGlobalErrors) {
    <ul>
    @for(error <- form.globalErrors) {
        <li>@Messages(error.messages, error.args)</li>
    }
    </ul>
}
@application("Konfigurowanie przejść") {
    <div class="x_panel">
        <div class="x_title">
            <h2>Konfiguracja przejść dla kroku: @flow.name</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            @b4.form(routes.FlowController.outGoingFlowsSubmit(flow.id)) {
                <div class="row">
                    <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                        Dozwolone przejścia
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                    @for(f <- flows) {
                        @b4.checkbox(form("outgoing_flows[]"), '_text -> f.name, 'value -> f.id, 'checked -> form.value.get.outgoingFlows.contains(f.id), 'class -> "flat")
                    }
                    </div>
                </div>
                <div class="ln_solid"></div>
                @b4.submit('class -> "btn btn-success") {
                    <i class="fa fa-check"></i>
                    Zapisz
                }
            }
        </div>
    </div>
}
