@import model.UserFormData
@import model.User
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import b4.vertical.fieldConstructor // Declares a vertical field constructor as default


@import model.SecurityRole
@(user: User)(form: play.api.data.Form[UserFormData])(implicit request: AuthenticatedRequest[Any])

@application("Edytowanie użytkownika") {

    <div class="x_panel">
        <div class="x_title">
            <h2>Użytkownik</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            @b4.form(routes.UsersController.submitEdit(user.id)) {
                @b4.text(form("username"), '_label -> "Nazwa użytkownika", '_placeholder -> (user.username.mkString("")))
                @b4.password(form("password"), '_label -> "Hasło", 'placeholder -> "Hasło")
                @for((r, i) <- SecurityRole.values.zipWithIndex) {
                    @b4.checkbox(form("role[" + i + "]"), '_text -> r.name, 'value -> r.name)
                }
                <div class="ln_solid"></div>
                @b4.submit('class -> "btn btn-success") {
                    <i class="fa fa-check"></i>
                    Zapisz
                }
            }
        </div>
    </div>
}