@import model.UserFormData
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import b4.vertical.fieldConstructor // Declares a vertical field constructor as default


@import model.SecurityRole
@(form: play.api.data.Form[UserFormData])(implicit request: AuthenticatedRequest[Any])

@application("Dodawanie użytkownika") {

    <div class="x_panel">
        <div class="x_title">
            <h2>Użytkownik</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            @b4.form(routes.UsersController.submit) {
                @b4.text(form("username"), '_label -> "Nazwa użytkownika")
                @b4.password(form("password"), '_label -> "Hasło")
                <div class="row">
                    <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                        Role w systemie
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                    @for((r, i) <- SecurityRole.values.zipWithIndex) {
                        @b4.checkbox(form("role[" + i + "]"), '_text -> r.name, 'value -> r.name, 'class -> "flat", 'label -> "false")
                    }
                    </div>
                </div>
                <div class="ln_solid"></div>
                @b4.submit('class -> "btn btn-success") {
                    <i class="fa fa-check"></i>
                    Dodaj
                }
            }
        </div>
    </div>
}