@import be.objectify.deadbolt.scala.views.html.subjectPresent
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import model.User
@import b4.vertical.fieldConstructor

@(users: Seq[User])(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit request: AuthenticatedRequest[Any])
    @import helper._
    @header(orderBy: Int, username: String) = {
        <th class="col@orderBy header">
            <a href="#">@username</a>
        </th>
    }
    @*
    * Call the `main` template with two arguments. The first
    * argument is a `String` with the title of the page, the second
    * argument is an `Html` object containing the body of the page.
    *@
    @application("Lista użytkowników") {
        <div class="x_panel">
            <div class="x_title">
                <h2>Użytkownicy<small>Jest @users.size użytkowników</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            @header(1, "Użytkownik")
                            @header(3, "Role")
                            @header(4, "Operacje")
                        </tr>
                    </thead>
                    <tbody>
                    @users.map { user =>
                        <tr>
                            <td>@user.username</td>
                            <td>@user.roles.mkString(", ")</td>
                            <td>
                                <a href="@routes.UsersController.edit(user.id)" role="button"
                                class="btn btn-default">
                                    <i class="fa fa-pencil"></i>
                                    Edytuj
                                </a>
                                <a href="@routes.UsersController.delete(user.id)" role="button"
                                onclick="return confirm('Napewno usunąć?');" class="btn btn-default">
                                    <i class="fa fa-remove"></i>
                                    Usuń
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <div class="ln_solid"></div>
                <a href = "@routes.UsersController.addUser" class="btn btn-success">
                    <i class="fa fa-plus"></i>
                    Dodaj użytkownika
                </a>
            </div>
        </div>
    }