@import model.User
@import model.ProjectFormData
@import b4.vertical.fieldConstructor
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import model.FlowSteps
@import model.FlowStep
@(form: Form[ProjectFormData], users: Seq[User], flows: Seq[FlowStep])(implicit authRequest: AuthenticatedRequest[Any], messages: Messages)


@application("Dodawanie projektu") {

    @if(form.hasGlobalErrors) {
        <ul>
        @for(error <- form.globalErrors) {
            <li>@Messages(error.messages, error.args)</li>
        }
        </ul>
    }

    <div class="x_panel">
        <div class="x_title">
            <h2>Nowy projekt</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            @b4.form(routes.ProjectController.submitProjectForm) {
                @b4.text(form("key"), '_label -> "Skrócony klucz projektu")
                @b4.text(form("name"), '_label -> "Nazwa projektu")
                @b4.text(form("description"), '_label -> "Opis projektu")
                @b4.select(form("manager_id"), users.map(user => (user.id.toString, user.username)), '_label -> "Kieronik projektu")
                @b4.select(form("first_step_id"), flows.map(flow => (flow.id.toString, flow.name)), '_label -> "Pierwszy krok")
                @b4.select(form("last_step_id"), flows.map(flow => (flow.id.toString, flow.name)), '_label -> "OStatni krok")
                <div class="ln_solid"></div>
                @b4.submit('class -> "btn btn-success") {
                    <i class="fa fa-check"></i>
                    Zapisz
                }
            }
        </div>
    </div>
}