@import scala.concurrent.Future
@import model.Project
@import model.User
@import scala.concurrent.ExecutionContext.Implicits.global
@import be.objectify.deadbolt.scala.views.html.restrict
@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(projects: Seq[(Project, User)])(implicit request: AuthenticatedRequest[Any])

@header(header: String) = {
    <th class="header">
        <a>@header</a>
    </th>
}
@application("Lista projektów") {
    <div class="x_panel">
        <div class="x_title">
            <h2>Projekty<small>Jest @projects.size projektów</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        @header("Klucz")
                        @header("Nazwa projektu")
                        @header("Opis")
                        @header("Kierownik")
                        @header("Operacje")
                    </tr>
                </thead>
                <tbody>
                @projects.map { t =>
                    <tr>
                        <td>@t._1.key</td>
                        <td>@t._1.name</td>
                        <td>@t._1.description</td>
                        <td>@t._2.username</td>
                        <td>
                            @restrict(roles = List(Array("admin"))) {
                                <a href="@routes.ProjectController.edit(t._1.id)" class="btn btn-default">
                                    <i class="fa fa-pencil"></i>
                                    Edytuj
                                </a>
                            }
                            @restrict(roles = List(Array("admin"))) {
                                <a href="@routes.ProjectController.delete(t._1.id)" role="button"
                                onclick="return confirm('Napewno usunąć?');" class="btn btn-default">
                                    <i class="fa fa-remove"></i>
                                    Usuń
                                </a>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @restrict(roles = List(Array("admin"))) {
                <div class="ln_solid"></div>
                <a href = "@routes.ProjectController.addProjectForm()" class="btn btn-success">
                    <i class="fa fa-plus"></i>
                    Dodaj projekt
                </a>
            }
        </div>
    </div>
}
