@import be.objectify.deadbolt.scala.views.html.restrict
@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(title: String, styles: Html = Html(""), scripts: Html = Html(""))(content: Html)(implicit request: AuthenticatedRequest[Any])
    @main(title, "nav-md") {
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0 ;">
                            <a href="@routes.HomeController.index" class="site_title"><i class="fa fa-check"></i>
                                <span>
                                    Tasker
                                </span>
                            </a>
                        </div>

                        <div class="clearfix"></div>

                        <br />

                            <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>MENU</h3>
                                <ul class="nav side-menu">
                                    <li>
                                        <a class="nav-link" href="@routes.HomeController.index">
                                            <i class="fa fa-home"></i> Dashboard
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="@routes.ProjectController.listProjects">
                                            <i class="fa fa-object-group"></i> Projekty
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-tasks"></i> Moje zadania
                                            <span class="fa fa-chevron-down"></span>
                                        </a>
                                        <ul class="nav child_menu">
                                            <li><a class="nav-link" href="@routes.TaskController.assignedToMe()">Przypisane do mnie</a></li>
                                            <li><a class="nav-link" href="@routes.TaskController.reportedByMe()">Utworzone przeze mnie</a></li>
                                        </ul>
                                    </li>
                                    @restrict(roles = List(Array("admin"))) {
                                        <li>
                                            <a class="nav-link" href="@routes.UsersController.listUsers">
                                                <i class="fa fa-users"></i> Użytkownicy
                                            </a>
                                        </li>
                                    }
                                    @restrict(roles = List(Array("admin"))) {
                                        <li>
                                            <a class="nav-link" href="@routes.FlowController.listFlows">
                                                <i class="fa fa-flag"></i> Kroki
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                            <!-- /sidebar menu -->
                    </div>
                </div>

                    <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav class="" role="navigation">
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="@routes.Application.logout()"><i class="fa fa-sign-out"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                    <!-- /top navigation -->

                    <!-- page content -->
                <div class="right_col" role="main">
                @content
                </div>
                    <!-- /page content -->

                    <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Projekt w języku SCALA: Adam Król, Marcin Kabza, Piotr Jurewicz, Dawid Wojna
                    </div>
                    <div class="clearfix"></div>
                </footer>
                    <!-- /footer content -->
            </div>
        </div>
    }