@*
* This template takes a single argument, a String containing a
* message to display.
*@
@import be.objectify.deadbolt.scala.views.html.subjectPresent
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import java.util.Date
@import model._

@(tasks: Seq[((((Task, User), User), Project), FlowStep)])(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit request: AuthenticatedRequest[Any])
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@application("Tasker") {

    <div class="row">
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Zadania <small><a href="@routes.TaskController.assignedToMe">przypisane do Mnie</a></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                @tasks.map { t =>
                    <article class="media event">
                        <a class="pull-left date @{if(t._1._1._1._1.due_date.before(new Date)) "danger" else "success"}">
                            <p class="month">@t._1._1._1._1.due_date.toLocalDate.getMonth.name</p>
                            <p class="day">@t._1._1._1._1.due_date.toLocalDate.getDayOfMonth</p>
                        </a>
                        <div class="media-body">
                            <a href="@routes.TaskController.showTask(t._1._1._1._1.key)" class="title">@t._1._1._1._1.summary</a>
                            <p>@t._1._1._1._1.description</p>
                        </div>
                    </article>
                }

                </div>
            </div>
        </div>
    </div>

}
