@import b4.vertical.fieldConstructor
@(form: Form[(String, String)], styles: Html = Html(""), scripts: Html = Html(""))(implicit flash: Flash, m: Messages)

@main("Tasker - logowanie", "login") {
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                @b4.form(routes.Application.authenticate) {
                    <h1>Zaloguj się</h1>
                    @b4.text(form("username"), '_label -> "Nazwa użytkownika", '_showErrors -> true)
                    @b4.password(form("password"), '_label -> "Hasło", '_showErrors -> true)
                    @form.globalError.map { error =>
                        <p class="error">
                            @error.message
                        </p>
                    }
                    <div>
                    @b4.submit('class -> "btn btn-default submit") { Zaloguj się }
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator"></div>
                }
                </section>
            </div>
        </div>
    </div>
}